/* Styling the first section */
img {
    max-width: 100%;
    border-radius: 10px;
}
h1 {
    font-size: 50px;
    color: #344966;
}
.first-section {
    display: flex;
    justify-content: center;
    background-color: #ECF0F1;
    height: 350px;
    min-height: 300px;
}
.first-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex: 2 1 200px;
}
.first-container-heading {
    max-height: 100px;
    min-width: 300px;
}

.first-container-text {
    max-width: 400px;
    color: #344966;
    font-size: 20px;
}
.second-container {
    max-width: 300px;
    display: flex;
    align-items: center;
    flex: 1 2 200px;
}

/* Styling the second section */
.second-section {
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #ECF0F1;
}
.second-section-text {
    max-width: 500px;
    text-align: center;
    
}
.second-section-button {
    background-color: #F6AE2D;
    size: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #344966;
    color: #344966;
}

/* styling the line breaks */
hr {
    margin: 0;
}

/* Styling the third section */ 
.third-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Article-1  {
    display: flex;
    border: 1px solid #344966;
    padding: 100px;
}
.Article-2 {
    display: flex;
    border: 1px solid #344966;
    padding: 100px;
}
.Article-3 {
    display: flex;
    border: 1px solid #344966;
    padding: 100px;
}
.Article-4 {
    display: flex;
    border: 1px solid #344966;
    padding: 100px;
}
.Article-5 {
    display: flex;
    border: 1px solid #344966;
    padding: 100px;
}
.Article-6 {
    display: flex;
    border: 1px solid #344966;
    padding: 100px;
}

/* ALL MEDIA QUERRIES FOR HOMEPAGE MAIN CONTENT */
@media screen and (max-width: 650px) {
    .first-section {
        flex-direction: column;
        min-height: 600px;
        align-items: center;
    }
    .first-container-text {
        max-width: 350px;
    }
    .second-container {
        align-items: flex-start;
        padding-bottom: 10px;
    }
    .second-section {
        align-items: center;
    }
    .second-section-text {
        max-width: 350px;
    }
}